div{
    border: 2px solid rgba(209, 40, 238, 0.49);
    padding: 15px;
    margin: 10px 40px 5px;
    background-color: rgba(187, 122, 246, 0.5);
    border-radius: 5px;
}
.cabecera{
    border: 2px solid rgba(209, 40, 238, 0.49);
    padding: 15px;
    margin: 10px 40px 5px;
    background-color: rgba(158, 59, 248, 0.61);
    border-radius: 5px;
    text-align: center;
}
#pinguin{
    width: 270px;
    height: 200px;
    float: left;
    border-radius: 50%;
}
.tarot{
    text-align: justify;
    background-color: #eee4ce;
}

 h1{
    font-family: "Castellar", serif;
    font-weight: 400;
    font-style: normal;
}

 h2{
     font-family: "Britannic Bold", serif;
     font-weight: 400;
     font-style: normal;
 }

.arcano{
    width: 200px;
    height: 250px;
    float: initial;
}
.arcanoresul{
    width: 150px;
    height: 200px;
    float: initial;
    text-align: center;
}